doctype html
html
    head
        meta(charset="utf-8")
        meta(name=viewport content="width=device-width,initial-scale=1")
        title React Barcode Scanner
        link(rel="icon" href="/scanner/assets/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="/scanner/assets/css/font-awesome.min.css")
        script(src="/scanner/assets/scanner-bundle.js")
        style(type='text/css').
           * {
                margin: 0px;
                padding: 0px;
           }
           #scanner {
                margin: 0px;
                padding: 0px;
            }
            p{
                margin: 10px;
            }
    body
        #scanner /scanner did not load correctly. Please try again in a moment.
        